{% extends "index.html" %}
                
{% block  body %}
<body>
    <h4>Agregar Paciente</h4>
    <hr>
    <br>
    <form action="/create_paciente" method="POST">
        <label for="name">Nombre:</label><br>
        <input type="text" id="name" name="name" required><br>

        <label for="age">Edad:</label><br>
        <input type="number" id="age" name="age" required><br>

        <label for="gender">Género:</label><br>
        <select id="gender" name="gender" required>
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
            <option value="O">Otro</option>
        </select><br>

        <label for="address">Dirección:</label><br>
        <input type="text" id="address" name="address"><br>

        <label for="disease">Enfermedad o Estado de Salud:</label><br>
        <textarea id="disease" name="disease" required></textarea><br>

        <br>
        <input class="btn btn-success mr-2" type="submit" value="Guardar">
        <a href="{{url_for('views.pacientes')}}" class="btn btn-secondary ">Salir</a> 
    </form>
</body>

{% endblock %}