@media screen and (max-width: 400px) {
   
    #body {
        background-image: url("/static/image/background_2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%; /* Establecemos la altura al 100% del viewport */
        
    }
    
   body section {
        width: 100%; /* Ajustamos el ancho al 90% del viewport */
        border-radius: 20px;
        background-color: rgba(243, 243, 243, 0.962);
        margin: 20px auto; /* Centramos horizontalmente y añadimos un espacio entre elementos */
        text-align: center;
        padding: 30px; /* Reducimos el relleno para dispositivos móviles */
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2); /* Sombra */
        max-width: 600px; /* Establecemos un ancho máximo */
    }
    
    .login_box {
        width: 90%; /* Reducimos el ancho al 90% del viewport */
        height: auto; /* Hacemos que la altura se ajuste automáticamente */
        padding: 5px; /* Añadimos espacio alrededor del formulario */
        margin-bottom: 25%;
    }

    .login-form {
        margin-top: 50px; /* Reducimos el margen superior en dispositivos móviles */
    }

}

